body{
    background-image: url("../imagens/Fundo Lista de Metas.png");
    margin-bottom: 10%;
}

.card_claro{
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color:  #C8DEC7;
    height: 100px;
    width: 90%;
}
.card_escuro{
    margin-left: 10%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #006D4B;
    height: 100px;
    width: 90%;
}
.texto_claro{
    padding-top: 2%;
    margin-left: 28%;
    color: #006D4B;
}
.texto_escuro{
    padding-top: 2%;
    margin-left: 17%;
    color: #C8DEC7;
}

