li{
    padding: 5px;
}
label{
    color: #006D4B;
    padding-top: 50px;
    position: relative;
    top: 10%;
}
.botao{
    width: 10%;
    height: 125px;
    border-radius: 20px;
    background-color: #006D4B;
    margin: 3% 4% 1% 5%;
    box-shadow: -5px 5px 5px rgb(151, 150, 150);
}
.icone{
    width: 100%;
}
.lista{
    color: #006D4B;
}
.titulo{
    background-image: url("../imagens/Semana_I/Materiais\ Semana\ I.png");
    height: 475px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.icone_menor{
    width: 10%;
    float: left;
    margin-left: 4%;
}