.titulo{
    background-image: url("../imagens/Semana_III/Temática\ Semana\ III.png");
    height: 475px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.imagens{
    position: absolute;
    width: 80%;
    height: 500px;
    margin-left: 20%;
}
.not{
    position: relative;
    width: 22%;
    top: 11%;
    left: 5%;
}
.livro{
    position: relative;
    width: 22%;
    top: 50%;
    right: 6%;
}
.tablet{
    position: relative;
    width: 22%;
    top: 5%;
    left: 1%;
}