body{
    margin: 0%;
}

header{
    text-align: center;
    background-color: #006D4B;
}

table{
    width: 100%;
}

strong{
    color: #006D4B;
}

a{
    color: #21252A;
}


.topo_botoes{
    padding: 10px;
    color: #C8DEC7;
    background-color: #006D4B;
    border-bottom-style: solid;
    border-color: #C8DEC7;
    font-family: 'Montserrat Classic';
    font-size: 15px;
    margin: 3%;
}
.logo{
    width: 75%;
    float: left;
    padding: 5%;
}
.box_logo{
    background-color: white;
    height: 250px;
    width: 20%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}

.img_topo1{
    background-image: url("../imagens/Semana\ II/Temática Semana II.png");
    background-size: 100%;
    margin-right: 0%;
    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
}

#semana{
    font-size: 30px;
    font-family: 'Arimo';
    font-weight: lighter;
    margin: auto;
}

#banner{
    text-align: center;
    margin-top: 5%;
    margin-bottom:7%;
}

#titulo1{
    font-size: 40px;
    font-family: 'Montserrat Classic';
    font-weight: bold;
    margin-top: 8%;
    text-align: center;
}

.titulo2{
    font-size: 35px;
    font-family: 'Montserrat Classic';
    font-weight: bold;
    margin-top: 2%;
    margin-left: 5%;
}

.explicacao {
    margin-top: 5%;
    color: #21252A;
    font-size: 20px;
    font-family: 'Arimo';
    text-align: justify;
    margin-left: 22%;
    margin-right: 22%;
}

.destaca{
    color: #006D4B;
    font-size: 22px;
}

.itens{
    margin-top: 10%;
    margin-left: 23%;
    padding-right: 40%;
    margin-bottom: 5%;
    line-height: 1.8;
}

.itens p{
    color: #006D4B;
    font-size: 20px;
    font-family:  'Arimo';
}

.itens b{
    border: solid #C8DEC7;
    background-color: #C8DEC7;
    border-radius: 50%;
    padding-left: 2px;
}

#img_foot1{
    background-image: url("../imagens/Semana\ II/Temática II - 1.png");
    background-size: 100%;
    width: 225px;
    height: 225px;
    margin-top: 1%;
    margin-left: 65%;
}

#img_foot2{
    background-image: url("../imagens/Semana\ II/Temática II -3.png");
    background-size: 100%;
    width: 235px;
    height: 235px;
    margin-left: 72%;
    margin-top: -5%;
}

#img_foot3{
    background-image: url("../imagens/Semana\ II/Temática II - 2.png");
    background-size: 100%;
    width: 235px;
    height: 235px;
    margin-left: 62%;
    margin-top: -3%;
}

.rodape{
    width: 100%;
    height: 150px;
}
