li{
    padding: 10px;
    color: #006D4B;
}
label{
    color: white;
    padding-top: 50px;
    position: relative;
    top: 10%;
}
h2{
    color: #21252A;
}

.botao{
    width: 10%;
    border-radius: 20px;
    background-color: #006D4B;
    margin: 3% 4% 1% 5%;
    box-shadow: -5px 5px 5px rgb(151, 150, 150);
}
.icone{
    width: 100%;
}
.icone_menor{
    width: 10%;
    float: left;
}
.lista{
    color: #006D4B;
}
.titulo{
    background-image: url("../imagens/Semana_IV/Materiais\ Semana\ IV.png");
    height: 475px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 90%;
}
.descricao{
    color: #006D4B;
    margin-left: 10%;
}