.imagen_topo{
    background-image: url("../imagens/Semana_II/Materiais\ Semana\ II.png");
    background-size: 100%;
    margin-right: 0%;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
}

.titulo2{
    font-size: 35px;
    font-family: 'Montserrat Classic';
    font-weight: bold;
    margin-top: 1%;
    margin-left: 5%;
}
.text_principal p{
    margin-top: 2%;
    color: #21252A;
    font-size: 20px;
    font-family: 'Arimo';
    text-align: justify;
    margin-left: 10%;
    margin-right: 18%;
}

li{
    padding: 5px;
    color: #006D4B;
    font-size: 20px;
    font-family:  'Arimo';
}

.botao{
    width: 10%;
    border-radius: 20px;
    background-color: #006D4B;
    margin: 3% 4% 1% 5%;
    box-shadow: -5px 5px 5px rgb(151, 150, 150);
}
.icone{
    width: 100%;
}

label{
    color: white;
    padding-top: 50px;
    position: relative;
    top: 10%;
}

.conteudo{
    margin-left: 2%;
}

.icone_conteudo{
    float: left;
    width: 100px;
    height: 100px;
}

.icone_conteudo img{
    width: 100%;
}

.icone_conteudo2{
    float: left;
    width: 100px;
}

.icone_conteudo2 img{
    width: 100%;
}