link{
    color: #006D4B;
}
.texto_verde{
    color: #006D4B;
}
.caixa_clara{
    background-color: #C8DEC7;
    padding: 1px 1px 1px 3%;
    margin-right: 10%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.titulo{
    background-image: url("../imagens/Semana_III/Momento\ Semana\ III.png");
    height: 475px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 101%;
}
.arquivo{
    margin-top: 15%;
    background-color: #006D4B;
    border: #006D4B 1px solid;
    border-radius: 50px;
    color: #C8DEC7;
    padding: 1% 5% ;
    font-size: 25px;
}
