.titulo{
    background-image: url("../imagens/Semana_III/Temática\ Semana\ III.png");
    height: 475px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 101%;
}
.imagens{
    position: absolute;
    width: 100%;
    height: 500px;
}
.not{
    position: relative;
    width: 20%;
    top: 9%;
}
.livro{
    position: relative;
    width: 20%;
    top: 50%;
    right: 8%;
}
.tablet{
    position: relative;
    width: 20%;
}