body{
    margin: 5px;
}
header{
    text-align: center;
    background-color: #006D4B;
}
p{
    font-family:  Arimo;
}
table{
    width: 100%;
}



.topo_botoes{
    padding: 10px;
    color: #C8DEC7;
    background-color: #006D4B;
    border-bottom-style: solid;
    border-color: #C8DEC7;
    font-family: Montserrat Classic;
    font-size: 15px;
    margin: 3%;
}
.logo{
    width: 75%;
    float: left;
    padding: 5%;
}
.box_logo{
    background-color: white;
    height: 250px;
    width: 20%;
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
}