body{
    margin: 5px;
}
header{
    text-align: center;
    background-color: #006D4B;
}
p{
    font-family:  Arimo;
}
table{
    border-style: solid;
    width: 100%;
}
tr,td{
    border-style: solid;
}


.topo_botoes{
    padding: auto;
    color: #C8DEC7;
    background-color: #006D4B;
    border-bottom-style: solid;
    border-color: #C8DEC7;
    font-family: Montserrat Classic;
    font-size: 15px;
}
.logo{
    width: 300px;
}